@import url('https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Beiruti';
  src:  url(https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&display=swap) 
}

:root{
  --font-sans: 'Beiruti';
}
*{
  font-family: "Beiruti", sans-serif;
}

